[submodule "modules/php-dotnet"]
	path = modules/php.NET
	url = https://github.com/biocad-cloud/php-dotnet.git
[submodule "typescripts/data.ts"]
	path = typescripts/Linq.ts
	url = https://github.com/biocad-cloud/data.ts.git
