<!DOCTYPE html>
<html>

<head>
	${includes/head.html}
</head>

<body class="landing">
	<nav class="navbar navbar-expand-md navbar-light bg-white mb-4">
		<div class="container">
			<a class="navbar-brand d-flex align-items-center" href="./"><img src="assets/img/logo.svg"
					alt="Example Navbar 1" class="mr-2" height="30"> Lazy Kit</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-3"
				aria-controls="navbarNavDropdown-3" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse mr-auto text-center" id="navbarNavDropdown-3">
				<ul class="navbar-nav ml-auto ">
					<li class="nav-item mx-2">
						<a class="btn btn-outline-primary" href="documentation/getting_started.html">
							Documentation
						</a>
					</li>
					<li class="nav-item m-2 m-md-0">
						<a class="btn btn-primary" href="#a">
							<i class="fa fa-download"></i> Download
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="blog-posts bg-light">
		<div class="text-center">
			<h2>Latest Blog Posts</h2>
			<p class="lead">We are constantly releasing new features. Stay up to date with us.</p>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="component">
						<div class="card mb-4">
							<div class="card-header">
								<img class="card-img" src="assets/img/dog-1.jpg" alt="dog">
							</div>
							<div class="card-body">
								<span class="badge badge-success mb-2">Pets</span>
								<h4 class="card-title">How to look after and care for a dog</h4>
								<p class="card-text">Owning a dog is great fun and immensely rewarding. But, dogs have
									complex needs and each dog is unique. </p>
							</div>
							<div class="card-footer">
								<a href="#a" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="component">
						<div class="card mb-4">
							<div class="card-header">
								<img class="card-img" src="assets/img/dog-2.jpg" alt="dog">
							</div>
							<div class="card-body">
								<span class="badge badge-warning mb-2">Vacation</span>
								<h4 class="card-title">Woof! How to find dog-friendly beaches in Spain</h4>
								<p class="card-text">Considering Spain's abundant coastline, beaches that do allow you
									to take your pooch to feel sand... </p>
							</div>
							<div class="card-footer">
								<a href="#a" class="btn btn-outline-primary">Read More</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="component">
						<div class="card mb-4">
							<div class="card-header">
								<img class="card-img" src="assets/img/dog-3.jpg" alt="dog">
							</div>
							<div class="card-body">
								<span class="badge badge-secondary mb-2">Hobby</span>
								<h4 class="card-title">Getting Started With Your Puppy</h4>
								<p class="card-text">This new addition to your family will require lots of love,
									attention and plenty of supplies. </p>
							</div>
							<div class="card-footer">
								<a href="#a" class="btn btn-outline-primary">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	${includes/footer.html}
</body>

</html>