<!DOCTYPE html>
<html>

<head>
	${includes/head.html}
</head>

<body class="landing">
	<div class="blog-posts bg-light">
		<div class="text-center">
			<h2>动态</h2>
			<p class="lead">看看对方有什么动静</p>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="component">
						<div class="card mb-4">
							<div class="card-header">
								<img class="card-img" src="assets/img/dog-1.jpg" alt="dog">
							</div>
							<div class="card-body">
								<span class="badge badge-success mb-2">Pets</span>
								<h4 class="card-title">How to look after and care for a dog</h4>
								<p class="card-text">Owning a dog is great fun and immensely rewarding. But, dogs have
									complex needs and each dog is unique. </p>
							</div>
							<div class="card-footer">
								<a href="#a" class="btn btn-primary">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="component">
						<div class="card mb-4">
							<div class="card-header">
								<img class="card-img" src="assets/img/dog-2.jpg" alt="dog">
							</div>
							<div class="card-body">
								<span class="badge badge-warning mb-2">Vacation</span>
								<h4 class="card-title">Woof! How to find dog-friendly beaches in Spain</h4>
								<p class="card-text">Considering Spain's abundant coastline, beaches that do allow you
									to take your pooch to feel sand... </p>
							</div>
							<div class="card-footer">
								<a href="#a" class="btn btn-outline-primary">Read More</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="component">
						<div class="card mb-4">
							<div class="card-header">
								<img class="card-img" src="assets/img/dog-3.jpg" alt="dog">
							</div>
							<div class="card-body">
								<span class="badge badge-secondary mb-2">Hobby</span>
								<h4 class="card-title">Getting Started With Your Puppy</h4>
								<p class="card-text">This new addition to your family will require lots of love,
									attention and plenty of supplies. </p>
							</div>
							<div class="card-footer">
								<a href="#a" class="btn btn-outline-primary">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	${includes/footer.html}
</body>

</html>