<!DOCTYPE html>
<html>

<head>
    ${includes/head.html}
</head>

<body>

    <header class="header">
        <h1 class="header_title"></h1>
        <a href="/about"><button id="butAbout" class="headerButton" aria-label="about"></button></a>
    </header>

    <main class="main">
        <div class="post-list-body post-area">
            <template id="blogListTemplate">
                <div class="list-item">
                    <a href="/" id="blogLink" title="title template">
                        <div class="post-list-item">
                            <font color="#aaaaaa" id="blogTime"></font>
                            <h2>
                                <font color="#AE57A4" id="tag"></font>
                                <font color="#333333" id="title"></font>
                            </h2>
                            <p>
                                <font color="#666666" id="description"></font>
                            </p>
                        </div>
                    </a>
                </div>
            </template>
        </div>
    </main>

    ${includes/footer.html}
</body>

</html>