<!DOCTYPE html>
<html lang="zh-CN">

<head>
    ${includes/head.html}

    <meta name="app" content="index" />
</head>

<body>

    <main class="main">
        <div class="post-list-body post-area">
		
		 <canvas id="bgcanvas" width="100%" height="100%">
		
		<script>
		// Velocity X
var vx = 0;
var WH= document.height;
var WW= document.width;
var bgc = document.getElementById("bgcanvas");
bgc.height=WH;
bgc.width=WW;

var ctx = bgc.getContext("2d");

var img = new Image();
img.src = '/assets/images/splash.jpg';
 
(function renderGame() {
    window.requestAnimationFrame(renderGame);
     
    ctx.clearRect(0, 0, WW, WH);
     
    ctx.fillStyle = '#333';
    ctx.fillRect(0, 0, 500, 400);
     
    ctx.drawImage(img, vx, 50);
     
    vx -= 2;
}());
		
		</script>
		
		<!--
            <template id="blogListTemplate">
                <div class="list-item">
                    <a href="/" id="blogLink" title="title template">
                        <div class="post-list-item">
                            <font color="#aaaaaa" id="blogTime"></font>
                            <h2>
                                <font color="#AE57A4" id="tag"></font>
                                <font color="#333333" id="title"></font>
                            </h2>
                            <p>
                                <font color="#666666" id="description"></font>
                            </p>
                        </div>
                    </a>
                </div>
            </template>
			-->
        </div>
    </main>

    ${includes/footer.html}
</body>

</html>