<!DOCTYPE html>
<html>

<head>

  <meta name="app" content="profile" />

  ${includes/head.html}
</head>

<body class="profile">
  <div class="container">
    <div class="info">
      <div class="row">
        <div class="col-12 col-md-4 text-center">
          <img src="{$avatar}" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg"
            style="width: 150px;">
        </div>
        <div class="col-12 col-md-8 d-flex flex-column align-items-center align-items-lg-start">
          <div class="d-flex flex-row align-items-start mt-3 mt-lg-0">
            <div class="name">
              <h2 class="mb-0">{$name}</h2>
            </div>
            <a href="/edit_profile" class="btn btn-primary btn-pill btn-sm ml-3 mt-1">编辑</a>
          </div>
          <div class="stats d-flex flex-row align-items-center align-items-lg-start text-center text-lg-left">
            <div class="posts ml-2 ml-lg-0">
              <p class="lead"><b>{$n.posts}</b> 文章</p>
            </div>
            <div class="posts">
              <p class="lead"><b>{$n.photo}</b> 相片</p>
            </div>
            <div class="posts">
              <p class="lead"><b>{$n.activity}</b> 动静</p>
            </div>
          </div>
          <p class="lead mb-0 mt-2"><b>{$fullname}</b></p>
          <p class="lead text-center text-lg-left">{$whats.up}</p>
        </div>
      </div>
    </div>
    <div class="navigation d-flex justify-content-center">
      <ul class="nav nav-primary nav-tabs mt-3 d-flex flex-column flex-md-row">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#saved">
            <i class="far fa-bookmark"></i> 最近访问
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tagged">
            <i class="far fa-id-badge"></i> 最近登录
          </a>
        </li>
      </ul>
    </div>
    <div class="profile-tabs tab-content">
      <div class="tab-pane fade show active" id="saved">
        <div class="row">
          <div class="col-12 col-md-4">
            <img src="/assets/images/bookmark.jpg" style="width:100%;" />
            
          </div>
        </div>
        <div class="d-flex justify-content-center my-5">
          <a href="#a" class="btn btn-outline-primary btn-pill">Load More</a>
        </div>
      </div>
      <div class="tab-pane fade text-center" id="tagged">
        <div class="row">
          <div class="col-12 col-md-4">
            <img src="/assets/images/map.jpg" style="width:100%;" />

          </div>
        </div>
        <div class="d-flex justify-content-center my-5">
          <a href="#a" class="btn btn-outline-primary btn-pill">Load More</a>
        </div>
      </div>
    </div>

  </div>


  ${includes/footer.html}
</body>

</html>