<!DOCTYPE html>
<html>

<head>
    <meta name="app" content="view/memorial" />
    <meta name="data:id" content="{$id}">

    <meta name="api:comment" content="/api/comment.vbs" />
    <meta name="api:load" content="/api/get_comment.vbs" />
    <meta name="api:load_event" content="/api/get/memorial" />

    ${includes/head.html}
</head>

<body class="index landing">

    <div class="bubbles d-none d-md-block">
        <!-- 				bubbles -->
        <div class="bubble bubble-1 rotate-bubble bg-warning"></div>
        <div class="bubble bubble-2 bubble-bottom-right bg-danger rotate-bubble"></div>
        <div class="bubble bubble-3 bubble-top-right bg-warning rotate-bubble"></div>
        <div class="bubble bubble-4 bubble-top-left bg-info rotate-bubble"></div>
        <div class="bubble bubble-5 bg-info rotate-bubble"></div>
        <div class="bubble bubble-6 bubble-bottom-right bg-danger rotate-bubble"></div>
        <div class="bubble bubble-7 bubble-top-right bg-success rotate-bubble"></div>
        <div class="bubble bubble-8 bubble-top-left bg-success rotate-bubble"></div>
        <div class="bubble bubble-9 bg-warning rotate-bubble"></div>
        <div class="bubble bubble-10 bg-danger rotate-bubble"></div>
        <div class="bubble bubble-11 bubble-bottom-right bg-info rotate-bubble"></div>
        <div class="bubble bubble-12 bubble-top-right bg-success rotate-bubble"></div>
        <div class="bubble bubble-13 bubble-top-left bg-success rotate-bubble"></div>
        <!--         circles -->
        <div class="circle circle-1 bg-light rotate-circle"></div>
        <div class="circle circle-2 bg-success rotate-circle"></div>
        <div class="circle circle-3 bg-danger rotate-circle"></div>
        <div class="circle circle-4 bg-info rotate-circle"></div>
        <div class="circle circle-5 bg-success rotate-circle"></div>
        <div class="circle circle-6 bg-info rotate-circle"></div>
        <div class="circle circle-7 bg-warning rotate-circle"></div>
        <div class="circle circle-8 bg-white rotate-circle"></div>
        <div class="circle circle-9 bg-warning rotate-circle"></div>
        <div class="circle circle-10 bg-danger rotate-circle"></div>
    </div>


    <div class="blog-posts bg-light">

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-danger btn-pill">
                        <i class="fa fa-heart mr-1"></i>
                        <a href="/share_photo?memorial={$id}">上传纪念照片</a>
                    </button>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="component">
                        <div class="card mb-4">
                            <div class="card-header">
                                <img class="card-img" src='/assets/images/anniversary.jpg'>
                            </div>
                            <div class="card-body">
                                <h4 id="title" class="card-title"></h4>
                                <p id="content" class="card-text"></p>
                            </div>
                            <div class='card-footer'>
                                <span id="days"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="comment-list">

            </div>

            <hr />

            <div class="row">
                <div class="col-md-4">

                    <textarea id="comment" class="form-control" rows="3" style="min-width: 95%"></textarea>
                    <button id="send" type="button" class="btn btn-primary">添加评论</button>

                </div>
            </div>

        </div>
    </div>
    </div>

    ${includes/footer.html}
</body>

</html>