<!DOCTYPE html>
<html>

<head>
    ${../includes/head.html}

    <meta name="app" content="index" />
</head>

<body>

    <header class="header">
        <h1 class="header_title"></h1>
        <a href="/about"><button id="butAbout" class="headerButton" aria-label="about"></button></a>
    </header>

    <main class="main">
        <div class="post-list-body post-area" style="text-align: center;">
            <img src="/assets/images/error.gif" style="width:80%;" />
        </div>
    </main>

    ${../includes/footer.html}
</body>

</html>