<!DOCTYPE html>
<html>

<head>
    ${../includes/head.html}
</head>

<body>

    ${../includes/nav.html}

    <main class="main">
        <div class="post-list-body post-area" style="text-align: center; width: 90%;">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/images/error.gif" style="width:80%;" />
                </div>
            </div>
        </div>

        <!-- button that opens the modal -->
        <button type="button" class="btn btn-info" id="open-msg" style="display: none;" data-toggle="modal"
            data-target="#exampleModal">
            Click for More
        </button>

        <!-- the modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{$title}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {$message}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    ${../includes/footer.html}
</body>

<script>
    $ts(function () {
        $("#open-msg").click();
    });
</script>

</html>
