<footer class="footer-1 bg-light text-dark">
    <div class="container" style="{$hide}">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
            <ul class="nav nav-pills nav-warning d-flex flex-column flex-md-row text-center">
                <li class="nav-item">
                    <a class="nav-link {$home.active}" href="/home"> <i class="fas fa-igloo"></i> 新鲜事</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {$comment.active}" href="/chat"><i class="fas fa-comment-alt"></i>
                        吐槽</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {$gallery.active}" href="/gallery"><i class="fas fa-images"></i>
                        相册</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {$profile.active}" href="/profile"><i class="fas fa-address-card"></i>
                        我</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="copyright text-center">
            <hr />
            <p class="small">&copy; 2020, made with <span class="text-danger"><i class="fas fa-heart"></i></span> by
                xieguigang</p>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/scripts/linq.js"></script>
<script type="text/javascript" src="/scripts/script.js"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/popper/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- optional plugins -->
<script src="./assets/vendor/nouislider/js/nouislider.min.js"></script>

<!--   lazy javascript -->
<script src="/assets/js/lazy.js"></script>