<footer class="footer">
    <button id="column1" class="button1">专栏</button>
    <button id="column2" class="button2">博客</button>
    <button id="column3" class="button3">作品</button>
</footer>

<script type="text/javascript" src="/scripts/linq.js"></script>
<script type="text/javascript" src="/scripts/script.js"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/popper/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.min.js" ></script>

<!-- optional plugins -->
<script src="./assets/vendor/nouislider/js/nouislider.min.js"></script>

<!--   lazy javascript -->
<script src="/assets/js/lazy.js"></script>