<footer class="footer">
    <ul class="nav nav-pills nav-warning d-flex flex-column flex-md-row text-center">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home2"> <i class="fas fa-igloo"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile2"><i class="fas fa-address-card"></i> Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" data-toggle="tab" href="#profile2"><i class="fas fa-chart-line"></i>
                Dashboard</a>
        </li>
    </ul>
</footer>

<script type="text/javascript" src="/scripts/linq.js"></script>
<script type="text/javascript" src="/scripts/script.js"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/popper/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- optional plugins -->
<script src="./assets/vendor/nouislider/js/nouislider.min.js"></script>

<!--   lazy javascript -->
<script src="/assets/js/lazy.js"></script>