<div class="row">
    <div class="col-12 col-md-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                分享
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/share_photo" id="upload-photo">相片</a>
                <!--
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                -->
            </div>
        </div>

    </div>
    <div class="col-12 col-md-4">
        <a id="share_geo" class="nav-link active" href="#"><i class="far fa-compass"></i>分享当前位置</a>
    </div>
</div>