<div class="row">
    <div class="col-12 col-md-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                分享
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/share_photo" id="upload-photo">
                    <i class="far fa-picture-o"></i>相片
                </a>
                <a id="share_geo" class="dropdown-item" href="#">
                    <i class="far fa-compass"></i>分享当前位置
                </a>
                <a class="dropdown-item" href="/share_memorial" id="share-memorial">
                    <i class="far fa-picture-o"></i>纪念日
                </a>
            </div>
        </div>
    </div>
</div>