RewriteEngine On

RewriteRule ^assets/(.+)$ /proxy.php?app=assets&resource=$1
RewriteRule ^scripts/(.+)$ /proxy.php?app=scripts&resource=$1

RewriteRule ^([a-z_]+)$ /index.php?app=$1

RewriteRule ^api/([a-z_]+).vbs$ /api.php?app=$1